html{
	min-height:100%;
}
body{
	min-height:100%;
	margin:0px;
	padding:0px;
}
div{
	box-sizing: border-box;
}
input{
	box-sizing: border-box;
}
textarea{
	box-sizing: border-box;
}
button{
	cursor:pointer;
	box-sizing: border-box;
}
/* main.css finishes here */
.main-content-container{
	text-align : center;
	font-family : raleway;
}
.content{
	width : 60%;
	background : #fbfbfb;
	color : #aaa;
	padding : 20px;
	margin : auto;
	font-size : 16px;
	padding-top : 60px;
}
.header{
	position : fixed;
	height : 50px;
	width : 100%;
	background : #aaf;
	color : white;
	padding : 10px;
	font-size : 22px;
	font-weight : bold;
}
.content-title{
	color : #fcc;
	font-size : 18px;
	font-weight : bold;
}
.content-one{
	padding : 10px;
}
.content-two{
	background : #bbb;
	color : #fff;
	padding : 10px;
}
.form-container{
	padding : 10px;
}
#test{
	background : #ddd;
	color : #fff;
}
